<!-- ======= Header ======= -->
<header id="header" class="fixed-top {% if page != "home" %}header-inner-pages{% endif %}">
  <div class="container d-flex align-items-center">

    <!--  <h1 class="logo mr-auto"><a href="index.html">Tempo</a></h1> -->
    <!-- Uncomment below if you prefer to use an image logo -->
    <a href="index.html" class="logo mr-auto"><img src="assets/img/main/nome.png" alt="" class="img-fluid"></a>

    <nav class="nav-menu d-none d-lg-block">
      <ul>
        <li {% if page == "home" %}class="active" {% endif %}><a href="index.html">Home</a></li>
        <li><a href="#about">Sobre</a></li>
        <li><a href="#services">Serviços</a></li>
        <li {% if page == "portfolio" %}class="active" {% endif %}><a href="#portfolio">Portfólio</a></li>
        <li {% if page == "blog" %}class="active" {% endif %}><a href="blog.html">Blog</a></li>

        <li><a href="#contact">Contato</a></li>

      </ul>
    </nav><!-- .nav-menu -->

  </div>
</header><!-- End Header -->
