{% extends "template.html" %}

{% set page ='home' %}

{% block meta %}
  <title>Hub 42</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">
{% endblock %}

{% block content %}

  {% include "parts/hero.html" %}

  <main id="main">

    {% include "parts/about-section.html" %}

    {% include "parts/services-section.html" %}







    {% include "parts/pricing-section.html" %}

    {% include "parts/faq-section.html" %}



    {% include "parts/contact-section.html" %}

  </main><!-- End #main -->

{% endblock %}
